body {
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

#main-container {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.repositories-title {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}

.repositories-title h2{
    width: 100%;
    color: white;
    font-size: 70px;
    text-align: center;
}

.add-repository-button-container {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

.add-repository-button {
    color: white;
    background: #2a62d4;
    width: 12rem;
    height: 2.25rem;
    border: 2px solid grey;
    border-radius: 6px;
}

.add-repository-button:hover {
    border: 2px solid white;
}

.repository-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-right: -2rem;
    margin-left: -2rem;
}

.repository-card-title {
    display: grid;
    align-items: center; 
    text-align: center;
    padding: 0.5rem;
}

.repository-card-title h6 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repository-card {
    border: 1px solid white;
    color: white;
    margin: 1rem;
    width: 16rem;
    background-color: #262626;
    overflow: hidden;
}

.modal-body input {
    font-size: 1rem;
    font-weight: 400;
}

.modal-body label {
    font-size: large;
    font-weight: 600;
}

.modal-body textarea {
    font-size: 1rem;
    font-weight: 400;
    height: 125px;
}

.modal-body select {
    font-size: 1rem;
    font-weight: 400;
    width: 90%;
}

.modal-body .select-tag-container {
    display: flex;
    flex-direction: row;
}

.modal-body .select-tag-container button {
    background-color: #2a62d4;
    color: white;
    margin-left: 0.25rem;
    border: 1px solid white;
}

.no-repositories-modal {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.modal-content {
    background-color: rgb(30, 28, 28);
    color: white;
    font-weight: 600;
}

.modal-content .close {
    color: white;
}

.modal-title {
    width: 100%;
    text-align: center;
    margin: 0;
}

.form-group {
    margin: 0rem;
    margin-top: 0.25rem;
}

.modal-footer {
    margin: 0;
    padding: 0;
    padding-top: 0.25rem;
}

.modal-body input, textarea, select {
    color: white;
    background-color: #333333;
    outline: none;
    border: 1px solid white;
}

.modal-body input:focus, textarea:focus, select:focus{
    color: white;
    background-color: #333333;
    outline: none;
    border: 1px solid #2a62d4;
}


.modal-body .cancel-button {
    background-color: rgb(44, 43, 43);
    border: 1px solid grey;
    color: white;
}

.modal-body .create-button {
    background-color: #2a62d4;
    border: 1px solid white;
    color: white;
}

.modal-body .cancel-button:hover{
    border-color: white;
}

@media (max-width: 768px) {
    .main-body{
        min-height: 100%;
    }

    .navbar {
        padding-left: 0.5rem;
    }

    .dropdown {
        margin: 0;
        margin-left: auto;
    }
}