body {
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
}

.main-body {
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

/* START NAVBAR */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 1rem;
}

.navbar button:hover {
    color: red;
}

.navbar #searchRecipe {
    background: transparent;
    border: none;
    flex-grow: 1;
    border: 0.15em solid white;
    border-radius: 0.3em;
    color: white;
    margin-right: 2em;
    padding-right: 3em;
}

.navbar #searchRecipe::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar #searchRecipe:focus {
    outline: none;
    border-color: white;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.dropdown {
    position: relative;
    margin: 1em;
}

.dropdown * {
    box-sizing: border-box;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(1, 4, 9, 255);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    color: white;
    position: absolute;
    top: 3em;
    left: 10%;
    width: 7rem;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #262626;
}

.menu-open {
    display: block;
    opacity: 1;
}

#searchRecipe {
    font-size: medium;
    font-weight: 500;
}

.lil-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
    border: 0.1em solid #ddd;
}

/* END DROP DOWN */

/* END NAVBAR */

.recipe-info {
    display: flex;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 3rem;
    color: white;
    white-space: pre-wrap;
    border-bottom: 1px solid #ddd;
}

.recipe-image-container{ 
    max-width: 550px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-image {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover; 
    border: 0.1em solid #ddd;
}

.recipe-name h2{
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 80px;
}

.recipe-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
}

.recipe-buttons{
    margin-top: 0.5rem;
    display: grid;
    place-items: center;
}

.recipe-buttons label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    position: relative; 
}

.recipe-buttons #fileInput {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recipe-buttons label:hover, label:focus{
    background-color: #45a049;
}

.recipe-details {
    flex: 2;
    color: white;
    background-color: #191c22;
    margin-right: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details h2 {
    font-size: 60px;
}

.recipe-details .ingredients-header{
    font-weight: 700;
    font-size: larger;
}

.recipe-details .ingredients-header, .stepsOfPreparation-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1em solid #ddd;
}

/* START REVIEW */

.recipe-reviews {
    color: white;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 10rem;
}

.reviews-title-rating {
    display: flex;
    flex-direction: row;
}

.reviews-title-rating .reviews-rating {
    margin-left: auto;
}

.recipe-reviews h2 {
    margin-bottom: 1rem;
}

.review {
    display: flex;
    margin-bottom: 2rem;
}

.deleteReview {
    margin-top: 5px;
    margin-left: auto;
}

.deleteReviewButton {
    background: transparent;
    border: 1px solid #f00;
    border-radius: 2em;
    color: #f00;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 2px;
    margin: 0 0 8px;
    padding: 0;
    text-align: center;
    width: 20px;
    }
    

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-details {
    flex: 1;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.username {
    margin-right: 1rem;
}

.star-rating {
    color: gold;
}

.review-text {
    margin-bottom: 1rem;
}

.date {
    color: #777;
}

.review-rating-input {
    display: grid;
    place-items: center;
    padding-left: 36rem;
    padding-right: 36rem;
}

.review-text-input {
    padding-left: 18rem;
    padding-right: 18rem;
}

.review-text-input textarea, select{
    border-radius: 7.5px;
    height: 150px;
}

#rating, option {
    color: black;
    font-size: medium;
    font-weight: 600;
}

#reviewText {
    padding: 1rem;
    color: black;
    font-size: medium;
    font-weight: 600;
}
/* 
.review{
    border-bottom: 0.5px solid #777;
} */

/* .review-details .date {
    margin-left: auto;
} */

.create-review-button {
    margin-bottom: 2rem;
    
}

.add-review-button { 
    display: grid;
    place-items: center;
}

.fill-fields-error {
    color: red;
}

/* END REVIEW */

@media (max-width: 768px) {
    .navbar {
        padding-left: 0.5rem;
    }

    .recipe-info {
        display: flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 3rem;
        color: white;
        white-space: pre-wrap;
    }
    
    .recipe-image-container {
        width: 100%;
        max-width: 600px; 
    }
    
    .recipe-image {
        order: 1;
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        border: 0.1em solid #ddd;
    }
    
    .recipe-details {
        order: 2;
        width: 100%; 
        text-align: left;
        margin: 0;
        color: white;
        background-color: #191c22;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .recipe-reviews {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 10rem;
    }
}
