body {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-body {
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

/* START NAVBAR */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 1rem;
}

.navbar button:hover {
    color: red;
}

.navbar #searchRecipe {
    background: transparent;
    border: none;
    flex-grow: 1;
    border: 0.15em solid white;
    border-radius: 0.3em;
    color: white;
    margin-right: 2em;
    padding-right: 3em;
}

.navbar #searchRecipe::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar #searchRecipe:focus {
    outline: none;
    border-color: white;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.dropdown {
    position: relative;
    margin: 1em;
}

.dropdown * {
    box-sizing: border-box;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(1, 4, 9, 255);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    color: white;
    position: absolute;
    top: 3em;
    left: 10%;
    width: 7rem;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #262626;
}

.menu-open {
    display: block;
    opacity: 1;
}

#searchRecipe {
    font-size: medium;
    font-weight: 500;
}

.lil-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
    border: 0.1em solid #ddd;
}

/* END DROP DOWN */

/* END NAVBAR */

.card {
    border-color: white;
    color: white;
    margin: 1rem;
    width: 16rem;
    height: 15rem;
    background-color: #262626;
}

.card-body h5 {
    margin: 0 0 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item {
    border-color: white;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #262626;
}

.li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89, 206, 181, 0.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

a {
    color: #707070;
}

.modal-body input {
    font-size: 1rem;
    font-weight: 400;
}

.modal-body label {
    font-size: large;
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 0.5rem;
    }
}
