<nav class="navbar navbar-expand-lg navbar-dark">
   <a id="mainPage" class="navbar-brand" (click)="mainPage()" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
 
   <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto justify-content-start">
         <li class="nav-item">
            <a class="nav-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item">
            <a class="nav-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
         </li>
      </ul>

      <div class="lil-avatar">
         <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
         <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
      </div>

      <div class="sub-menu-wrap" id="subMenu">
         <div class="sub-menu">
            <div class="user-info">
               <div class="lil-avatar">
                  <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                  <img *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
               </div>
               <h6>{{user?.userNickname}}</h6>
            </div>

            <a (click)="userProfile()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">person</span>
                  </div>               
               </div>

               <span class="icon-type">Profile</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userFriends()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">people</span>
                  </div>               
               </div>

               <span class="icon-type">Friends</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userChat()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">chat</i>
                     <span *ngIf="unseenConversations !=0 " class="icon-button__badge notifications-number">{{unseenConversations}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Chat</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userNotifications()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">notifications</i>
                     <span *ngIf="notifications?.length !=0 " class="icon-button__badge notifications-number">{{notifications?.length}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Notifications</span>
               <span class="arrow">></span>
            </a>

            <a (click)="logout()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="fa fa-sign-out"></i>
                  </div>
               </div>
               <span class="icon-type">Logout</span>
               <span class="arrow">></span>
            </a>
         </div>
      </div>
   </div>
</nav>

<body class="main-body">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

   <div id="main-container">

      <div class="recipe-name">
         <h2>{{this.recipe?.name}}</h2>
      </div>

      <div class="recipe-info">

         <div class="recipe-details">
            <h2>Details</h2>
            
            <div class="recipe-ingredients">
               <div class="ingredients-header">
                  <h5>Ingredients</h5>
               </div>
               <div>
                  <span>{{this.recipe?.ingredients}}</span>
               </div>
            </div>

            <div class="recipe-stepsOfPreparation">
               <div class="stepsOfPreparation-header">
                  <h5 id="stepsOfPreparation">Steps Of Preparations</h5>
               </div>
               <span>{{recipe?.stepsOfPreparation}}</span>
            </div>
         </div>

         <div class="recipe-avatar">
            <div class="recipe-image-container">
               <img class="recipe-image" *ngIf="recipeUrl" [src]="recipeUrl" alt="Recipe Image">
            </div>
         
            <div class="recipe-buttons">
               <div *ngIf="recipe?.userOwner?.userId == user?.userId" class="recipe-upload-button">
                  <label class="upload-button"><input type="file" id="fileInput" (change)="onSelectFile($event)">Upload Image</label>
               </div>
               
               <div *ngIf="recipe && userRecipes && isRecipeInUserRecipes == false" class="recipe-add-button">
                  <label (click)="onAddRecipeModal(recipe)" class="add-button">Add Recipe</label>
                </div>                
                
            </div>  

         </div>
        
      </div>

      <div class="recipe-reviews">
         <div class="reviews-title-rating">
            <h2 class="reviews-title">Reviews</h2>
            <h2 *ngIf="reviews?.length != 0" class="reviews-rating">Rating <span class="star-rating">{{averageRating.toFixed(2)}}</span></h2>
         </div>

         <!-- Review Form -->
         <div *ngIf="showReviewForm" class="review-form">
            <div class="review-rating-input">
               <label>Select the Rating</label>
               <select id="rating" class="form-control" style="color: white;" [(ngModel)]="reviewModel.userStarRating">
                  <option value="1" style="color: white;">1 - Appaling</option>
                  <option value="2" style="color: white;">2 - Horrible</option>
                  <option value="3" style="color: white;">3 - Very Bad</option>
                  <option value="4" style="color: white;">4 - Bad</option>
                  <option value="5" style="color: white;">5 - Average</option>
                  <option value="6" style="color: white;">6 - Fine</option>
                  <option value="7" style="color: white;">7 - Good</option>
                  <option value="8" style="color: white;">8 - Very Good</option>
                  <option value="9" style="color: white;">9 - Great</option>
                  <option value="10" style="color: white;">10 - Perfect</option>
               </select>
            </div>

            <div class="review-text-input">
               <div class="form-group mt-3">
                  <label for="reviewText">Review:</label>
                  <textarea id="reviewText" class="form-control" rows="4" [(ngModel)]="reviewModel.userReviewText" maxlength="2055"></textarea>
               </div>
            </div>
            
            <div class="add-cancel-review-button-container">
               <button type="button" class="cancel-review-button" (click)="toggleReviewForm()">Cancel</button>
               <button type="button" class="add-review-button" (click)="addReview()" [disabled]="reviewModel.userReviewText.trim().length == 0">Add Review</button>
            </div>
         </div>

         <h2 *ngIf="reviews?.length == 0">No Reviews Yet!</h2>

         <button *ngIf="!showReviewForm" type="button" class="create-review-button" (click)="toggleReviewForm()">Create New Review</button>
         <div *ngFor="let review of reviews" class="review">
            <div class="user-avatar">
               <img src="{{review.userProfileImage}}" alt="User Avatar">
            </div>
            <div class="review-details">
               <div class="user-info">
                  <span class="username">{{review.userOwner?.userNickname}}</span>
                  <span class="star-rating">{{review.userStarRating}}</span>
                  <span class="date">{{formattedDate(review.date.toString())}}</span>
                  <div class="deleteReview">
                     <button (click)="onDeleteReviewModal(review)" *ngIf="user?.userId == review.userOwner?.userId" class="deleteReviewButton">-</button>
                  </div>
               </div>                     

               <p class="review-text">{{review.userReviewText}}</p>
            </div>
         </div>
      </div>
   
   </div>

   <!-- Add Recipe To User Modal -->
   <div class="modal fade" id="addRecipeToUserModal" tabindex="-1" role="dialog" aria-labelledby="addModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="AddModelLabel">Add Recipe</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to add the recipe: {{addedRecipe?.name}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button *ngIf="addedRecipe" (click)="addRecipeToUser(addedRecipe.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Recipe Added Successfully Modal -->
   <div class="modal fade recipe-success" id="recipeSuccesModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="AddModelLabel">Add Recipe</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Recipe Added Successfully!</p>
               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal" style="background-color: royalblue;">Ok</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Delete Review To User Modal -->
   <div class="modal fade" id="deleteReviewForRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteReviewLabel">Delete Review</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete the review?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button *ngIf="deletedReview" (click)="deleteReviewForRecipe(deletedReview.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>