<nav class="navbar navbar-expand-lg navbar-dark">
   <a id="mainPage" class="navbar-brand" (click)="mainPage()" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto justify-content-start">
         <li class="nav-item">
            <a class="nav-link">Add Recipe <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="search-bar">
            <input #key="ngModel" ngModel type="search" name="key" id="searchRecipe" class="form-control mr-sm-2" placeholder="Search recipes..." required>
        </div>
        <div class="dropdown">
            <div class="lil-avatar">
               <img class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
               <img class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
            </div>
            <ul class="menu">
               <li (click)="userProfile()">Profile</li>
               <li (click)="logout()">Logout</li>
            </ul>
         </div>
      </form>
   </div>
</nav>

<body class="main-body">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

   <div id="main-container">

      <div class="recipe-info">

         <div class="recipe-details">
            <h2>Details</h2>
            
            <div class="recipe-ingredients">
               <div class="ingredients-header">
                  <h5>Ingredients</h5>
               </div>
               <div>
                  <span>{{this.recipe?.ingredients}}</span>
               </div>
            </div>

            <div class="recipe-stepsOfPreparation">
               <div class="stepsOfPreparation-header">
                  <h5 id="stepsOfPreparation">Steps Of Preparations</h5>
               </div>
               <span>{{recipe?.stepsOfPreparation}}</span>
            </div>
         </div>

         <div class="recipe-avatar">
            <div class="recipe-image-container">
               <img class="recipe-image" *ngIf="recipeUrl" [src]="recipeUrl" alt="Recipe Image">
            </div>
            <div class="recipe-name">
               <h2>{{this.recipe?.name}}</h2>
            </div>
            <div class="recipe-upload-button">
               <label for="fileInput" class="upload-button"><input type="file" id="fileInput" (change)="onSelectFile($event)">Upload Image</label>
            </div>
         </div>
      </div>

    </div>

</body>