body {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-body {
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

/* START NAVBAR */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 1rem;
}

.navbar button:hover {
    color: red;
}

.navbar #searchRecipe {
    background: transparent;
    border: none;
    flex-grow: 1;
    border: 0.15em solid white;
    border-radius: 0.3em;
    color: white;
    margin-right: 2em;
    padding-right: 3em;
}

.navbar #searchRecipe::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar #searchRecipe:focus {
    outline: none;
    border-color: white;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.dropdown {
    position: relative;
    margin: 1em;
}

.dropdown * {
    box-sizing: border-box;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(1, 4, 9, 255);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    color: white;
    position: absolute;
    top: 3em;
    left: 10%;
    width: 7rem;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #262626;
}

.menu-open {
    display: block;
    opacity: 1;
}

#searchRecipe {
    font-size: medium;
    font-weight: 500;
}

.lil-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
    border: 0.1em solid #ddd;
}

/* END DROP DOWN */

/* END NAVBAR */

.recipe-info {
    display: flex;
    margin-right: 7.5rem;
    margin-top: 3rem;
    color: white;
    white-space: pre-wrap;
}

.recipe-image {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover; 
    border: 0.1em solid #ddd;
}

.recipe-info .recipe-name h2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.recipe-upload-button{
    display: grid;
    place-items: center;
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    position: relative; 
}

#fileInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-button:hover, .upload-button:focus {
    background-color: #45a049;
}

.recipe-details {
    flex: 2;
    color: white;
    background-color: #191c22;
    padding: 1.5em;
    margin-left: 3rem;
    margin-right: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details .ingredients-header{
    font-weight: 700;
    font-size: larger;
}

.recipe-details .ingredients-header, .stepsOfPreparation-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1em solid #ddd;
}

@media (max-width: 768px) {
    .navbar {
        padding-left: 0.5rem;
    }
}
