<nav class="navbar navbar-expand-lg navbar-dark">
   <a id="mainPage" class="navbar-brand" (click)="mainPage()" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
 
   <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto justify-content-start">
         <li class="nav-item">
            <a class="nav-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item">
            <a class="nav-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
         </li>
      </ul>

      <div class="lil-avatar">
         <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
         <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
      </div>

      <div class="sub-menu-wrap" id="subMenu">
         <div class="sub-menu">
            <div class="user-info">
               <div class="lil-avatar">
                  <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                  <img *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
               </div>
               <h6>{{user?.userNickname}}</h6>
            </div>

            <a (click)="userProfile()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">person</span>
                  </div>               
               </div>

               <span class="icon-type">Profile</span>
               <span class="arrow">></span>
            </a>

            <a class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">people</span>
                  </div>               
               </div>

               <span class="icon-type">Friends</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userChat()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">chat</i>
                     <span *ngIf="notifications?.length !=0 " class="icon-button__badge notifications-number">{{notifications?.length}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Chat</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userNotifications()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">notifications</i>
                     <span *ngIf="notifications?.length !=0 " class="icon-button__badge notifications-number">{{notifications?.length}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Notifications</span>
               <span class="arrow">></span>
            </a>

            <a (click)="logout()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="fa fa-sign-out"></i>
                  </div>
               </div>
               <span class="icon-type">Logout</span>
               <span class="arrow">></span>
            </a>
         </div>
      </div>
   </div>
</nav>

<body>

   <div id="main-container">
      <div class="friends-title">
         <h2>Friends</h2>
         <span>{{friends?.length}}</span>
      </div>   
      
      <div class="add-friend-button-container">
         <button (click)="toggleFriendRequestForm()" type="button" class="add-friend-button" >Add New Friend</button>
      </div>

      <!-- Friend Request Form -->
      <div *ngIf="showFriendRequestForm" class="friend-request-form">
         <div class="friend-text-input">
            <div class="form-group mt-3 friend-text-labels">

               <label class="enter-username-label">Enter your friend's nickname</label>
               <label *ngIf="friendRequestSent" style="color: greenyellow;">Friend Request was sent!</label>
               <label *ngIf="usernameAddedNotFound" style="color: red;">Nickname not found!</label>
               <label *ngIf="friendRequestAlreadySent" style="color: red;">Friend Request was already sent!</label>
               <label *ngIf="friendRequestAlreadyFriend" style="color: red;">User is already your friend!</label>
               <label *ngIf="friendRequestCannotAddYourself" style="color: red;">You cannot add yourself as a friend!</label>

               <input id="friend-to-add-username" class="form-control" rows="4" [(ngModel)]="friendToAdd" maxlength="255">
               <div class="send-friend-request-container">
                  <button type="button" [disabled]="friendToAdd.length == 0" class="add-friend-button" (click)="sendFriendRequest()">Send Friend Request</button>
               </div>
            </div>
         </div>
         
      </div>

      <div class="friends-container">

         <div class="friend"  *ngFor="let friend of friends">
            <div class="friend-avatar-container">
                  <img (click)="onOpenFriendProfile(friend.userNickname)" class="friend-profile-avatar" *ngIf="friend.profileImage" src="{{friend.profileImage}}" alt="Friend Profile Image">
                  <img (click)="onOpenFriendProfile(friend.userNickname)" class="friend-profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Friend Profile Image">
            </div>
            <div class="friend-username">
                  <h2 (click)="onOpenFriendProfile(friend.userNickname)">{{friend?.userNickname}}</h2>
            </div>
         </div>
      </div>
   </div>

 </body>