
<body>
  <div class="container" id="main-container">
   
      <div class="user-img-details">

         <div class="profile">
            <div class="profile-avatar-container">
            <img class="profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
            <img class="profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
            </div>

            <div class="profile-nickname">
               <h2>{{this.profileUser?.userNickname}}</h2>
            </div>

            <p>{{this.profileUser?.userBio}}</p>

            <div *ngIf="user?.userId === profileUser?.userId">
               <button (click)="toggleProfileEdit()" type="button" class="edit-profile-button" >Edit Profile</button>
               <div class="profile-edit-settings" *ngIf="showEditProfile">
                  <div class="profile-upload-button">
                     <label for="fileInput" class="upload-button"><input type="file" id="fileInput" (change)="onSelectFile($event)">Upload Profile Image</label>
                  </div>
                  <form #editForm="ngForm">
                     <label>Name</label>
                     <label *ngIf="nicknameAlreadyUsed" id="nickname-aleady-used">Nickname already used!</label>
                     <input ngModel="{{profileUser?.userNickname}}" name="userNicknameToChange" maxlength="30">

                     <label>Bio</label>
                     <textarea ngModel="{{profileUser?.userBio}}" name="userBioToChange" maxlength="255"></textarea>

                     <div class="edit-changes-buttons">
                        <button (click)="toggleProfileEdit()" type="button" class="edit-close-changes-button">Close</button>
                        <button (click)="onEditProfile(editForm.value)" type="button" class="edit-save-changes-button">Save Changes</button>
                     </div>
                  </form>
               </div>
            </div>
          
            <div *ngIf="user?.userId !== profileUser?.userId">
               <div class="chat-button-container">
                  <button *ngIf="profileUser" (click)="userChatFriend(profileUser.userName)" type="button" class="chat-button">Chat</button>
               </div>
   
               <label *ngIf="friendRequestSent" style="color: greenyellow;">Friend Request was sent!</label>
               <label *ngIf="friendRequestAlreadySent" style="color: red; font-weight: 600;">Friend Request was already sent!</label>
               <div class="add-friend-button-container">
                  <button *ngIf="profileUser && !isFriendWithUser" (click)="sendFriendRequest()" type="button" class="add-friend-button">Add Friend</button>
               </div>
            </div>

         </div>

         <div class="details">
            <div>
               <h2>Details</h2>
            </div>
            <div class="details-item-list">
               <div class="detail-item">
                  <p (click)="onOpenRecipesHistory('total')" style="cursor: pointer;">Current recipes: {{profileUser?.totalRecipes}}</p>
               </div>
               <div class="detail-item">
                  <p (click)="onOpenRecipesHistory('created')" style="cursor: pointer;">Recipes created: {{profileUser?.totalRecipesCreated}}</p>
               </div>
               <div class="detail-item">
                  <p>Total recipes added: {{profileUser?.totalRecipesAdded}}</p>
                  <p (click)="onOpenRecipesHistory('added')" style="cursor: pointer;">Current recipes added: {{addedRecipes?.length}}</p>
               </div>
            </div>
         </div>

      </div>

      <div class="repositories">
         <h2>Repositories</h2>
         <div *ngFor="let repository of repositories">
            <div class="repo-item">
            <a (click)="onOpenRepository(repository)">{{repository.name}}</a>
            <span>{{repository.recipes.length}} recipes</span>
            </div>
         </div>
      </div>

   </div>

   <!-- Total Recipes Modal -->
   <div class="modal fade" id="totalRecipesModal" tabindex="-1" role="dialog" aria-labelledby="totalRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="totalRecipesLabel">Total Recipes</h2>
               <button type="button" class="close cancel-button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of repositoryRecipes; let i = index">
                  <h5>{{i+1}}. {{recipe.name}}</h5>
                </div>

               <div class="modal-footer">
                  <button class="btn btn-danger cancel-button" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Created Recipes Modal -->
   <div class="modal fade" id="createdRecipesModal" tabindex="-1" role="dialog" aria-labelledby="createdRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="createdRecipesLabel">Created Recipes</h2>
               <button type="button" class="close cancel-button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of createdRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
                </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Added Recipes Modal -->
   <div class="modal fade" id="addedRecipesModal" tabindex="-1" role="dialog" aria-labelledby="addedRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="addedRecipesLabel">Added Recipes</h2>
               <button type="button" class="close cancel-button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of addedRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
                </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>
