<nav class="navbar navbar-expand-lg navbar-dark">
   <a id="mainPage" class="navbar-brand" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
 
   <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto justify-content-start">
         <li class="nav-item">
            <a class="nav-link repository-link">Repository <span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item">
            <a class="nav-link discover-recipes-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
         </li>
      </ul>

      <div class="search-icon">
         <span class="material-icons" style="cursor: pointer;">search</span>
      </div>

      <div class="search-bar nav-link">
         <input (ngModelChange)="searchRecipe(key.value)" #key="ngModel" ngModel type="search" name="key" id="searchRecipe" class="form-control mr-sm-2 search-recipe-box" placeholder="Search recipes..." required>
      </div>
      
      <div class="icon-button">
         <div class="lil-avatar">
             <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
             <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
         </div>
         <span *ngIf="unseenConversations + notificationsCount != 0 " class="icon-button__badge notifications-number">{{unseenConversations + notificationsCount}}</span>
      </div> 

      <div class="sub-menu-wrap" id="subMenu">
         <div class="sub-menu">
            <div class="user-info">
               <div class="lil-avatar">
                  <img class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                  <img class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
               </div>
               <h6>{{user?.userNickname}}</h6>
            </div>

            <a (click)="userProfile()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">person</span>
                  </div>               
               </div>

               <span class="icon-type">Profile</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userFriends()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <span class="material-icons">people</span>
                  </div>               
               </div>

               <span class="icon-type">Friends</span>
               <span class="arrow">></span>
            </a>
           
            <a (click)="userChat()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">chat</i>
                     <span *ngIf="unseenConversations !=0 " class="icon-button__badge notifications-number">{{unseenConversations}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Chat</span>
               <span class="arrow">></span>
            </a>

            <a (click)="userNotifications()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">notifications</i>
                     <span *ngIf="notificationsCount !=0 " class="icon-button__badge notifications-number">{{notificationsCount}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Notifications</span>
               <span class="arrow">></span>
            </a>

            <a (click)="logout()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="fa fa-sign-out"></i>
                  </div>
               </div>
               <span class="icon-type">Logout</span>
               <span class="arrow">></span>
            </a>
         </div>
      </div>
   </div>
</nav>

<body class="main-body">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

      <div class="add-recipe-button-container">
         <button type="button" class="add-recipe-button" (click)="onOpenModal(undefined, 'add')">Add New Recipe</button>
      </div>

      <div class="container" id="main-container">
         <div class="recipe-cards-container">
            <div *ngFor="let recipe of recipes" class="recipe-card">
               <div class="recipe-card-title">
                  <h6 (click)="onOpenRecipe(recipe)" style="cursor: pointer;">{{recipe?.name}}</h6>
               </div>
      
               <ul (click)="onOpenRecipe(recipe)" class="list-group recipe-card-image-container" style="cursor: pointer;">
                  <img *ngIf="recipe.image" [src]="recipe.image">
               </ul>
      
               <div class="recipe-card-buttons">
                  <div *ngIf="recipe.userOwner.userId == user?.userId" class="edit-area">
                     <button (click)="onOpenModal(recipe, 'edit')" class="edit-button">
                        <span class="text">Edit</span>
                     </button>
                  </div>
      
                  <div class="delete-area">
                     <button (click)="onOpenModal(recipe, 'delete')" class="delete-button">
                        <span class="text">Delete</span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      

   <!-- Create Recipe Modal -->
   <div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="createRecipeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="createRecipeModalLabel">Create Recipe</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onCreateRecipe(addForm)">
               <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" max="254" required>
               </div>
               <div class="form-group">
                  <label for="ingredients">Ingredients</label>
                  <textarea ngModel name="ingredients" class="form-control" id="ingredients" placeholder="Ingredients" maxlength="511" required></textarea>
               </div>
               <div class="form-group">
                  <label for="stepsOfPreparation">Steps Of Preparation</label>
                  <textarea ngModel name="stepsOfPreparation" class="form-control" id="stepsOfPreparation" placeholder="Steps Of Preparation" maxlength="2055" required></textarea>
               </div>
               <div class="form-group">
                  <label for="tags">Tags</label>
                  <div class="select-tag-container">
                      <select name="tags" class="form-control" id="tags" required #tagsRef>
                          <option value="" disabled selected>Select tags</option>
                          <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
                      </select>
                      <button type="button" (click)="addTagToForm(tagsRef.value)">Add</button>
                     </div>
               </div>              
               <div class="form-group recipe-tags">
                  <div *ngFor="let tag of addedRecipeTags" class="tag">
                      <label class="hoverable">{{tag}}
                          <span (click)="removeTagFromForm(tag)" class="material-icons remove-tag">close</span>
                      </label>
                  </div>
              </div>
                                   
               <div class="modal-footer">
                  <button type="button" id="create-recipe-form" class="btn btn-secondary cancel-button" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary create-button" style="background-color: royalblue;">Create</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
      
   <!-- Edit Recipe Modal -->
   <div class="modal fade" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateRecipeModalLabel">Edit Recipe {{editRecipe?.name}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" ngModel="{{editRecipe?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                  
                  <div class="form-group">
                     <label for="ingredients">Ingredients</label>
                     <textarea ngModel="{{editRecipe?.ingredients}}" name="ingredients" class="form-control" id="ingredients" placeholder="Ingredients" required></textarea>
                  </div>
                  <div class="form-group">
                     <label for="stepsOfPreparation">Steps Of Preparation</label>
                     <textarea ngModel="{{editRecipe?.stepsOfPreparation}}" name="stepsOfPreparation" class="form-control" id="stepsOfPreparation" placeholder="Steps Of Preparation" required></textarea>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                     <button (click)="onUpdateRecipe(editForm.value)" data-dismiss="modal" class="btn btn-primary" style="background-color: royalblue;">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
      
   <!-- Delete Recipe Modal -->
   <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete Recipe</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete the recipe: {{deletedRecipe?.name}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button *ngIf="deletedRecipe" (click)="onDeleteRecipe(deletedRecipe.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Notification for no recipes -->
   <div *ngIf="recipes?.length == 0" class="col-lg-12 col-md-12 col-xl-12 no-recipes-modal">
      <div class="alert alert-info" role="alert">
         <h4 class="alert-heading">NO RECIPES!</h4>
         <p>No Recipes were found.</p>
      </div>
   </div>

</body>