<body>
   <div class="container" id="main-container">
      <div class="user-img-details">
 
         <div class="profile">
            <div class="profile-avatar-container">
            <img class="profile-avatar" *ngIf="friend?.profileImage" [src]="friend?.profileImage" alt="Profile Image">
            <img class="profile-avatar" *ngIf="!friend?.profileImage" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
            </div>
            <div class="profile-nickname">
               <h2>{{this.friend?.userNickname}}</h2>
            </div>
             
            <div class="chat-button-container">
               <button *ngIf="friend" (click)="userChatFriend(friend.userName)" type="button" class="chat-button">Chat</button>
            </div>

            <label *ngIf="friendRequestSent" style="color: greenyellow;">Friend Request was sent!</label>
            <label *ngIf="friendRequestAlreadySent" style="color: red; font-weight: 600;">Friend Request was already sent!</label>
            <div class="add-friend-button-container">
               <button *ngIf="friend && !isFriendWithUser" (click)="sendFriendRequest()" type="button" class="add-friend-button">Add Friend</button>
            </div>
         </div>

         <div class="details">
            <h2>Details</h2>
            <div class="detail-item">
               <p (click)="onOpenRecipesHistory('total')" style="cursor: pointer;">Current recipes: {{friend?.totalRecipes}}</p>
            </div>
            <div class="detail-item">
               <p (click)="onOpenRecipesHistory('created')" style="cursor: pointer;">Recipes created: {{friend?.totalRecipesCreated}}</p>
            </div>
            <div class="detail-item">
               <p>Total recipes added: {{friend?.totalRecipesAdded}}</p>
               <p (click)="onOpenRecipesHistory('added')" style="cursor: pointer;">Current recipes added: {{addedRecipes?.length}}</p>
            </div>
         </div>
 
      </div>

      <div class="repositories">
         <h2>Repositories</h2>
         <div *ngFor="let repository of repositories">
            <div class="repo-item">
            <a>{{repository.name}}</a>
            <span>{{repository.recipes.length}} recipes</span>
            </div>
         </div>
      </div>

   </div>
 
   <!-- Total Recipes Modal -->
   <div class="modal fade" id="totalRecipesModal" tabindex="-1" role="dialog" aria-labelledby="totalRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="totalRecipesLabel">Total Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of repositoryRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
 
   <!-- Created Recipes Modal -->
   <div class="modal fade" id="createdRecipesModal" tabindex="-1" role="dialog" aria-labelledby="createdRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="createdRecipesLabel">Created Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of createdRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Added Recipes Modal -->
   <div class="modal fade" id="addedRecipesModal" tabindex="-1" role="dialog" aria-labelledby="addedRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="addedRecipesLabel">Added Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of addedRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
 
 </body>
 