<nav class="navbar navbar-expand-lg navbar-dark">
    <a id="mainPage" class="navbar-brand" (click)="mainPage()" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
  
    <div class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto justify-content-start">
          <li class="nav-item">
             <a class="nav-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
          </li>
 
          <li class="nav-item">
             <a class="nav-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
          </li>
       </ul>
 
       <div class="lil-avatar">
          <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
          <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
       </div>
 
       <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
             <div class="user-info">
                <div class="lil-avatar">
                   <img class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                   <img class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
                </div>
                <h6>{{user?.userName}}</h6>
             </div>
 
             <a (click)="userProfile()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <span class="material-icons">person</span>
                   </div>               
                </div>
 
                <span class="icon-type">Profile</span>
                <span class="arrow">></span>
             </a>
 
             <a (click)="userFriends()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <span class="material-icons">people</span>
                   </div>               
                </div>
 
                <span class="icon-type">Friends</span>
                <span class="arrow">></span>
             </a>

             <a (click)="userChat()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">chat</i>
                     <span *ngIf="unseenConversations !=0 " class="icon-button__badge notifications-number">{{unseenConversations}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Chat</span>
               <span class="arrow">></span>
            </a>
 
             <a (click)="userNotifications()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <i class="material-icons">notifications</i>
                      <span *ngIf="notifications !=0 " class="icon-button__badge notifications-number">{{notifications}}</span>
                   </div>               
                </div>
                
                <span class="icon-type">Notifications</span>
                <span class="arrow">></span>
             </a>
 
             <a (click)="logout()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <i class="fa fa-sign-out"></i>
                   </div>
                </div>
                <span class="icon-type">Logout</span>
                <span class="arrow">></span>
             </a>
          </div>
       </div>
    </div>
 </nav>
 
 <body>
   <div class="container" id="main-container">
      <div class="user-img-details">
 
         <div class="profile">
            <div class="profile-avatar-container">
            <img class="profile-avatar" *ngIf="friend?.profileImage" [src]="friend?.profileImage" alt="Profile Image">
            <img class="profile-avatar" *ngIf="!friend?.profileImage" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
            </div>
            <div class="profile-nickname">
               <h2>{{this.friend?.userNickname}}</h2>
            </div>
             
            <div class="chat-button-container">
               <button *ngIf="friend" (click)="userChatFriend(friend.userName)" type="button" class="chat-button">Chat</button>
            </div>
         </div>

         <div class="details">
            <h2>Details</h2>
            <div class="detail-item">
               <p (click)="onOpenRecipesHistory('total')" style="cursor: pointer;">Current recipes: {{friend?.totalRecipes}}</p>
            </div>
            <div class="detail-item">
               <p (click)="onOpenRecipesHistory('created')" style="cursor: pointer;">Recipes created: {{friend?.totalRecipesCreated}}</p>
            </div>
            <div class="detail-item">
               <p>Total recipes added: {{friend?.totalRecipesAdded}}</p>
               <p (click)="onOpenRecipesHistory('added')" style="cursor: pointer;">Current recipes added: {{addedRecipes?.length}}</p>
            </div>
         </div>
 
      </div>

      <div class="repositories">
         <h2>Repositories</h2>
         <div class="repo-item">
         <a href="#">Repository 1</a>
         <span>Updated 2 days ago</span>
         </div>
         <div class="repo-item">
         <a href="#">Repository 2</a>
         <span>Updated 5 days ago</span>
         </div>
      </div>

   </div>
 
   <!-- Total Recipes Modal -->
   <div class="modal fade" id="totalRecipesModal" tabindex="-1" role="dialog" aria-labelledby="totalRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="totalRecipesLabel">Total Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of repositoryRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
 
   <!-- Created Recipes Modal -->
   <div class="modal fade" id="createdRecipesModal" tabindex="-1" role="dialog" aria-labelledby="createdRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="createdRecipesLabel">Created Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of createdRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Added Recipes Modal -->
   <div class="modal fade" id="addedRecipesModal" tabindex="-1" role="dialog" aria-labelledby="addedRecipesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="addedRecipesLabel">Added Recipes</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

            <div class="modal-body">
               <div *ngFor="let recipe of addedRecipes; let i = index">
                  <h5>{{i+1}}: {{recipe.name}}</h5>
               </div>

               <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
 
 </body>
 