<body>
    <div class="loginBox">
        <h2 class="dish-diary-title">DishDiary</h2>
        <h2>Sign In</h2>
        <label *ngIf="badCredentials" class="bad-credentials">Bad Credentials</label>
        <form #loginForm="ngForm" (ngSubmit)="onLoginUser(loginForm)">
            <div class="inputBox">
                <input id="username" ngModel type="text" name="username" placeholder="Username" required>
                <input id="password" ngModel type="password" name="password" placeholder="Password" required>
            </div> 
            <button [disabled]="loginForm.invalid" type="submit" name="">Sign In</button>
            <a routerLink="../register" id="already-account">Don't have an account?<br></a>
            <div class="text-center">
                <a routerLink="../register" style="color: #2a62d4;">Create new account</a>
            </div>
        </form> 
    </div>
</body>