body {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
  
@media screen and (max-width: 786px) {
    .loginBox {
        width: 90%; /* Adjust the width for smaller screens */
        max-width: none; /* Remove max-width constraint */
    }

    .inputBox input {
        font-size: 14px; /* Decrease font size for smaller screens */
        height: 30px; /* Adjust input height for smaller screens */
    }

    .loginBox button {
        height: 30px; /* Adjust button height for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }
}

.loginBox {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000000;
	box-sizing: border-box;
}

.user {
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 0.5rem;
	color: #2a62d4;
	text-align: center;
	font-weight: 700;
	margin-bottom: 1rem;
}

.bad-credentials {
	position: absolute;
	top: 38%;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	color: red;
}

.inputBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.input-container {
	width: 100%;
	position: relative;
}

.inputBox label {
	position: absolute;
	top: 15%;
	right: 105%;
	width: 18rem;
	text-align: end;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	color: red;
}

.inputBox input {
	border: none;
	border: 2px solid #262626;
	outline: none;
	height: 2.5rem;
	width: 20rem;
	color: #fff;
	background: transparent;
	font-size: 16px;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
	padding: 0 0.5rem;
	font-weight: 600;
}

.inputBox input:hover {
	border: 2px solid #2a62d4;
}

.inputBox input:focus {
	border-bottom: 2px solid #2a62d4;
}

.loginBox button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 4rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	border: none;
	outline: none;
	height: 35px;
	font-size: 16px;
	background: #2a62d4;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 700;
}

.loginBox button:hover{
	border: 2px solid white;
}

.loginBox a {
	color: #aba4a4;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
}

#already-account:hover {
	color: white;
}
