<nav class="navbar navbar-expand-lg navbar-dark">
   <a id="mainPage" class="navbar-brand" (click)="mainPage()" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>

   <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto justify-content-start">
         <li class="nav-item">
            <a class="nav-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item">
            <a class="nav-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
         </li>
      </ul>
 
      <div class="icon-button">
         <div class="lil-avatar">
             <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
             <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
         </div>
         <span *ngIf="unseenConversations + notifications.length != 0 " class="icon-button__badge notifications-number">{{unseenConversations + notifications.length}}</span>
      </div> 
 
       <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
             <div class="user-info">
                <div class="lil-avatar">
                   <img class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                   <img class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
                </div>
                <h6>{{user?.userNickname}}</h6>
             </div>
 
             <a (click)="userProfile()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <span class="material-icons">person</span>
                   </div>               
                </div>
 
                <span class="icon-type">Profile</span>
                <span class="arrow">></span>
             </a>
 
             <a (click)="userFriends()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <span class="material-icons">people</span>
                   </div>               
                </div>
 
                <span class="icon-type">Friends</span>
                <span class="arrow">></span>
             </a>

             <a (click)="userChat()" class="sub-menu-link">
               <div class="icon-container">
                  <div class="icon-button">
                     <i class="material-icons">chat</i>
                     <span *ngIf="unseenConversations !=0 " class="icon-button__badge notifications-number">{{unseenConversations}}</span>
                  </div>               
               </div>
               
               <span class="icon-type">Chat</span>
               <span class="arrow">></span>
            </a> 
 
             <a class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <i class="material-icons">notifications</i>
                      <span *ngIf="notifications?.length !=0 " class="icon-button__badge notifications-number">{{notifications.length}}</span>
                   </div>               
                </div>
                
                <span class="icon-type">Notifications</span>
                <span class="arrow">></span>
             </a>
 
             <a (click)="logout()" class="sub-menu-link">
                <div class="icon-container">
                   <div class="icon-button">
                      <i class="fa fa-sign-out"></i>
                   </div>
                </div>
                <span class="icon-type">Logout</span>
                <span class="arrow">></span>
             </a>
          </div>
       </div>
    </div>
 </nav>

<body class="main-body">

   <div class="notifications-title">
      <h2>Notifications</h2>
   </div>

   <div id="main-container">
        
         <div class="notifications-container">
            <div *ngIf="friendRequests.length != 0">
               <h2 class="notification-type-title">Friend Requests</h2>
               <hr class="horizontal-line">
               <div *ngFor="let friendRequest of friendRequests">
                  <div class="friend-request" *ngIf="friendRequest.status == 'PENDING'">
                     <div class="user-avatar">
                        <img (click)="onOpenFriendProfile(friendRequest.sender.userName)" src="{{friendRequest.sender.profileImage}}" alt="User Avatar">
                     </div>
                     <h4 (click)="onOpenFriendProfile(friendRequest.sender.userName)" class="sender-nickname">{{friendRequest.sender.userNickname}}</h4>
                     <div (click)="onResponseFriendRequestModal(friendRequest, 'accept')" class="accept-icon-container">
                        <div class="accept icon"></div>
                     </div>
                     <div (click)="onResponseFriendRequestModal(friendRequest, 'reject')" class="reject-icon-container">
                        <div class="reject icon"></div>
                     </div>
                  </div>
               </div>
               <hr class="horizontal-line">
            </div>
 
            <div *ngIf="recipesShared.length != 0">
               <h2 class="notification-type-title">Recipes Shared</h2>
               <hr class="horizontal-line">
               <div *ngFor="let recipeShared of recipesShared">
                  <div class="recipe-share" *ngIf="recipeShared.status == 'SHARED'">
                     <div class="user-avatar">
                        <img (click)="onOpenFriendProfile(recipeShared.sender.userName)" src="{{recipeShared.sender.profileImage}}" alt="User Avatar">
                     </div>
                     <div class="sender-nickname-container">
                        <h4 (click)="onOpenFriendProfile(recipeShared.sender.userName)" class="sender-nickname">{{recipeShared.sender.userNickname}}</h4>
                        <h4 class="shared-label">shared</h4>
                     </div>

                     <div class="recipe-shared-image">
                        <img (click)="onOpenRecipe(recipeShared.sharedRecipe)" src="{{recipeShared.sharedRecipe.image}}" alt="User Avatar">
                     </div>

                     <div class="recipe-shared-name">
                        <h4 (click)="onOpenRecipe(recipeShared.sharedRecipe)" class="recipe-name">{{recipeShared.sharedRecipe.name}}</h4>
                     </div>
                     
                   

                     <div class="accept-icon-container">
                        <div (click)="acceptRecipeShare(recipeShared)" class="accept icon"></div>
                     </div>

                     <div class="reject-icon-container">
                        <div (click)="rejectRecipeShare(recipeShared)" class="reject icon"></div>
                     </div>
                  </div>
               </div>
               <hr class="horizontal-line">
            </div>

            <div *ngIf="notifications.length == 0">
               <h2>NO NOTIFICATIONS YET</h2>
            </div>
            
         </div>

    </div>

    <!-- Accept Friend Request Modal -->
    <div class="modal fade" id="acceptFriendRequestModal" tabindex="-1" role="dialog" aria-labelledby="acceptFriendRequestModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acceptFriendRequestModelLabel">Accept Friend Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to accept the friend request from {{friendRequestNotification?.sender?.userNickname}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button *ngIf="friendRequestNotification" (click)="acceptFriendRequest(friendRequestNotification)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Reject Friend Request Modal -->
     <div class="modal fade" id="rejectFriendRequestModal" tabindex="-1" role="dialog" aria-labelledby="rejectFriendRequestModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rejectFriendRequestModelLabel">Accept Friend Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to reject the friend request from {{friendRequestNotification?.sender?.userNickname}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button *ngIf="friendRequestNotification" (click)="rejectFriendRequest(friendRequestNotification)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>