body {
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 20rem;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications-title {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
}

.notifications-title h2{
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 70px;
}

.notifications-container {
    width: 100%;
    margin-top: 1rem;
    color: white;
}

.horizontal-line {
    margin: 0;
    background-color: white;
    height: 1px;
}

.notification-type-title {
    text-align: center;
    margin: 1rem 0;
}

.friend-request, .recipe-share  {
    width: 100%;
    padding: 0.75rem 12.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.friend-request, .recipe-share  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-request h4{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-name {
    margin-right: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-shared-name h4 {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-date {
    padding-bottom: 0.25rem;
    margin-left: 0.5rem;
}

.recipe-shared-date .date {
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-avatar {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    border: 0.1rem solid white;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.sender-nickname-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sender-nickname {
    cursor: pointer;
    margin-right: 0.75rem;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-image {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 0.5px solid white;
}

.recipe-shared-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.accept-icon-container {
    background-color: rgb(56, 184, 56);
    cursor: pointer;
    margin-left: auto;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0.5rem;
}

.accept.icon {
    margin-bottom: 0.5rem;
    width: 21px;
    height: 12px;
    border-bottom: solid 3px currentColor;
    border-left: solid 3px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
  
.accept-icon-container:hover {
    background-color: rgb(36, 162, 36);
}

.reject-icon-container {
    background-color: #db1f1f;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0.5rem;
}

.reject.icon {
    width: 21px;
    height: 21px;
    position: relative;
}

.reject-icon-container:hover {
    background-color: #c8060c;
}

.reject.icon::before,
.reject.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
}

.reject.icon::after {
    transform: rotate(45deg);
}

.modal-content {
    background-color: rgb(30, 28, 28);
    color: white;
    font-weight: 600;
}

.modal-body .cancel-button {
    background-color: rgb(44, 43, 43);
    border: 1px solid grey;
    color: white;
}

.modal-body .yes-button {
    background-color: #2a62d4;
    border: 1px solid grey;
    color: white;
}

.modal-body .yes-button:hover, .modal-body .cancel-button:hover{
    border-color: white;
}

.modal-content .close {
    color: white;
}

.modal-title {
    width: 100%;
    text-align: center;
    margin: 0;
}

@media (max-width: 1000px) {
    body{
        min-height: 100%;
    }

    .navbar {
        padding-left: 0.5rem;
    }

    .notifications-container {
        margin-bottom: 5rem;
    }

    .notifications-title {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .notifications-title h2 {
        margin: 0;
        font-size: 45px;
    }

    .friend-request, .recipe-share  {
        width: 100%;
        padding: 0.1rem 0.3rem;
    }

    .notification-type-title {
        margin: 0;
        font-size: 22px;
    }

    .horizontal-line {
        margin: 0.5rem 0;
    }

    .user-avatar {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        margin-right: 0.2rem;
    }

    .notifications-container {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5rem;
    }

    .sender-nickname-container .shared-label, .sender-nickname {
        margin: 0;
        font-size: 12px;
    }

    .sender-nickname {
        max-width: 5rem;
        margin-right: 0.15rem;
    }

    .recipe-shared-image {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin: 0 0.3rem;
    }

    .recipe-name {
        margin: 0;
        font-size: 12px;
    }

    .accept-icon-container {
        padding: 0.25rem;
    }
    
    .accept.icon {
        margin: 0.2rem 0.2rem 0.4rem 0.2rem;
        width: 14px;
        height: 8px;
    }

    .reject-icon-container {
        padding: 0.3rem;
        margin-left: 0.5rem;
    }
    
    .reject.icon {
        margin: 0.2rem 0.2rem 0.4rem 0.2rem;
        width: 14px;
        height: 8px;
    }
}
