body {
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 20rem;
}

/* START NAVBAR */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 5rem;
}

.navbar button:hover {
    color: red;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */
.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 5rem;
    border-bottom: 1px solid grey;
}

.navbar .nav-link {
    font-weight: 500;
}

.navbar button:hover {
    color: red;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.sub-menu-wrap{
    position: absolute;
    top: 85%;
    right: 0.5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    color: white;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    color: white;
    background: rgba(1, 4, 9, 255);
    padding: 20px;
    margin: 10px;
    border: 0.75px solid grey;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 0.75px solid grey;
}

.user-info h6{
    margin-left: 0.5rem;
    font-weight: 500;
}

.user-info img{
    width: 50px;
    border-radius: 50%;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(107, 5, 5);
    margin: 15px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link .icon-type{
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 16px;
    font-weight: 500;
}

.sub-menu-link i{
    color: black;
    background-color: #e5e5e5;
    border-radius: 50%;
}

.sub-menu-link .arrow{
    margin-bottom: 0.5rem;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover .arrow{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}
  
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.icon-button {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}
  
.icon-button:hover {
    cursor: pointer;
}
  
.icon-button:active {
    background: #cccccc;
}
  
.icon-button__badge {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-button .notifications-number {
    font-weight: 500;
    font-size: 12px;
}   

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.lil-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid white;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
}
/* END DROP DOWN */

/* END NAVBAR */

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications-title {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
}

.notifications-title h2{
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 70px;
}

.notifications-container {
    width: 100%;
    margin-top: 1rem;
    color: white;
}

.horizontal-line {
    margin: 0;
    background-color: white;
    height: 1px;
}

.notification-type-title {
    text-align: center;
    margin: 1rem 0;
}

.friend-request, .recipe-share  {
    width: 100%;
    padding: 0.75rem 12.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.friend-request, .recipe-share  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-request h4{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-name {
    margin-right: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-shared-name h4 {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-date {
    padding-bottom: 0.25rem;
    margin-left: 0.5rem;
}

.recipe-shared-date .date {
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-avatar {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    border: 0.1rem solid white;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.sender-nickname-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sender-nickname {
    cursor: pointer;
    margin-right: 0.75rem;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-shared-image {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 0.5px solid white;
}

.recipe-shared-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.accept-icon-container {
    background-color: rgb(56, 184, 56);
    cursor: pointer;
    margin-left: auto;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0.5rem;
}

.accept.icon {
    margin-bottom: 0.5rem;
    width: 21px;
    height: 12px;
    border-bottom: solid 3px currentColor;
    border-left: solid 3px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
  
.accept-icon-container:hover {
    background-color: rgb(36, 162, 36);
}

.reject-icon-container {
    background-color: #db1f1f;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0.5rem;
}

.reject.icon {
    width: 21px;
    height: 21px;
    position: relative;
}

.reject-icon-container:hover {
    background-color: #c8060c;
}

.reject.icon::before,
.reject.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
}

.reject.icon::after {
    transform: rotate(45deg);
}

@media (max-width: 1000px) {
    body{
        min-height: 100%;
    }

    .navbar {
        padding-left: 0.5rem;
    }

    .notifications-container {
        margin-bottom: 5rem;
    }

    .notifications-title {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .notifications-title h2 {
        margin: 0;
        font-size: 45px;
    }

    .friend-request, .recipe-share  {
        width: 100%;
        padding: 0.1rem 0.3rem;
    }

    .notification-type-title {
        margin: 0;
        font-size: 22px;
    }

    .horizontal-line {
        margin: 0.5rem 0;
    }

    .user-avatar {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        margin-right: 0.2rem;
    }

    .notifications-container {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5rem;
    }

    .sender-nickname-container .shared-label, .sender-nickname {
        margin: 0;
        font-size: 12px;
    }

    .sender-nickname {
        max-width: 5rem;
        margin-right: 0.15rem;
    }

    .recipe-shared-image {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin: 0 0.3rem;
    }

    .recipe-name {
        margin: 0;
        font-size: 12px;
    }

    .accept-icon-container {
        padding: 0.25rem;
    }
    
    .accept.icon {
        margin: 0.2rem 0.2rem 0.4rem 0.2rem;
        width: 14px;
        height: 8px;
    }

    .reject-icon-container {
        padding: 0.3rem;
        margin-left: 0.5rem;
    }
    
    .reject.icon {
        margin: 0.2rem 0.2rem 0.4rem 0.2rem;
        width: 14px;
        height: 8px;
    }
}
