<body class="main-body">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   
   <div class="container" id="main-container">
         
      <div class="search-bar">
         <input (ngModelChange)="searchRecipe(searchedRecipe.value)" #searchedRecipe="ngModel" ngModel type="search" name="searchedRecipe" id="searchRecipeRepo" class="form-control mr-sm-2 search-recipe-box" placeholder="Search recipes..." required>
      </div>

      <div class="recipe-cards-container">

         <div *ngFor="let recipe of recipes">
            <div class="recipe-card">
               
               <div class="recipe-card-body recipe-card-title">
                  <h6 (click)="onOpenRecipe(recipe)" style="cursor: pointer;">{{recipe?.name}}</h6>
               </div>

               <div>
                  <ul (click)="onOpenRecipe(recipe)" class="list-group recipe-card-image-container" style="cursor: pointer;">
                     <img *ngIf="recipe.image" [src]="recipe.image">
                  </ul>
               </div>

               <div class="recipe-card-buttons">

                  <div class="add-area">
                     <button class="add-button" (click)="onAddRecipeModal(recipe)"><span class="text">Add</span></button>
                  </div>

                </div>

            </div>
         </div>

      </div>
   </div>

   <!-- Add Recipe To Repositories Modal -->
   <div class="modal fade" id="addRecipeToRepositoryModal" tabindex="-1" role="dialog" aria-labelledby="addModelLabel" aria-hidden="true">
      <div class="modal-dialog add-recipe-repository-container" role="document">
         <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="AddModelLabel">Add To Repository</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                  <div class="list-group">
                     <div *ngFor="let repository of repositories" class="repository-item d-flex justify-content-between align-items-center">
                        {{repository.name}}
                        <button *ngIf="!repository.addedRecipe && addedRecipe" (click)="addRecipeToRepository(addedRecipe.id, repository)" class="add-recipe-button">Add</button>
                        <button *ngIf="repository.addedRecipe" class="added-recipe-button">Added</button>
                     </div>
                  </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</body>