<nav class="navbar navbar-expand-lg navbar-dark">
    <a (click)="mainPage()" id="mainPage" class="navbar-brand" style="color: white; font-weight: 800; font-size: x-large">DishDiary</a>
  
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto justify-content-start">
            <li class="nav-item">
                <a class="nav-link repository-link" (click)="mainPage()">Repository <span class="sr-only">(current)</span></a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link discover-recipes-link" (click)="discoverRecipes()">Discover Recipes <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <div class="lil-avatar">
            <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
            <img (click)="toggleMenu()" class="avatar profile-avatar" *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
        </div>
    
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <div class="lil-avatar">
                    <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Profile Image">
                    <img *ngIf="!avatarUrl" src="https://i.pinimg.com/564x/26/c7/35/26c7355fe46f62d84579857c6f8c4ea5.jpg" alt="Profile Image">
                    </div>
                    <h6>{{user?.userNickname}}</h6>
                </div>
    
                <a (click)="userProfile()" class="sub-menu-link">
                    <div class="icon-container">
                        <div class="icon-button">
                            <span class="material-icons">person</span>
                        </div>               
                    </div>
    
                    <span class="icon-type">Profile</span>
                    <span class="arrow">></span>
                </a>
    
                <a (click)="userFriends()" class="sub-menu-link">
                    <div class="icon-container">
                        <div class="icon-button">
                            <span class="material-icons">people</span>
                        </div>               
                    </div>
    
                    <span class="icon-type">Friends</span>
                    <span class="arrow">></span>
                </a>
                
                <a class="sub-menu-link">
                    <div class="icon-container">
                        <div class="icon-button">
                            <i class="material-icons">chat</i>
                            <span *ngIf="unseenConversations != 0 " class="icon-button__badge notifications-number">{{unseenConversations}}</span>
                        </div>               
                    </div>
                    
                    <span class="icon-type">Chat</span>
                    <span class="arrow">></span>
                </a>
    
                <a (click)="userNotifications()" class="sub-menu-link">
                    <div class="icon-container">
                        <div class="icon-button">
                            <i class="material-icons">notifications</i>
                            <span *ngIf="notifications?.length !=0 " class="icon-button__badge notifications-number">{{notifications.length}}</span>
                        </div>               
                    </div>
                    
                    <span class="icon-type">Notifications</span>
                    <span class="arrow">></span>
                </a>
    
                <a (click)="logout()" class="sub-menu-link">
                    <div class="icon-container">
                        <div class="icon-button">
                            <i class="fa fa-sign-out"></i>
                        </div>
                    </div>
                    <span class="icon-type">Logout</span>
                    <span class="arrow">></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="chat-interface">
        <div class="chat-user-history">
            <div class="top">
                <h2>Conversations</h2>
                <div class="search">
                    <input id="searchConversation" (ngModelChange)="searchConversation(key.value)" #key="ngModel" ngModel type="text" placeholder="Search for chat..." max="255">
                </div>
            </div>

            <div class="conversations">
                <div (click)="changeCurrentFriendConversation(conversation, i)" *ngFor="let conversation of conversations; let i = index"
                [class.active-conversation]="i === activeConversationIndex" class="conversation">
                    <div class="user-avatar">
                        <img *ngIf="conversation.sender?.userId != user?.userId" src="{{conversation.sender.profileImage}}" alt="User Avatar">
                        <img *ngIf="conversation.sender?.userId == user?.userId" src="{{conversation.receiver.profileImage}}" alt="User Avatar">
                    </div>

                    <div class="user-nickname-last-message-container">
                        <div class="user-nickname">
                            <span *ngIf="conversation.sender?.userId != user?.userId">{{conversation.sender.userNickname}}</span>
                            <span *ngIf="conversation.sender?.userId == user?.userId">{{conversation.receiver.userNickname}}</span>
                        </div>
                        <div class="last-message">
                            <div class="sent-message" *ngIf="conversation.sender.userId == user?.userId">
                                <span class="content">You: {{conversation.content}}</span>
                                <span class="date">∙{{currentTimeDifferenceFormattedDate(conversation.timestamp.toString())}}</span>
                            </div>
                            <div class="received-message" *ngIf="conversation.receiver.userId == user?.userId">
                                <span class="content" *ngIf="conversation.wasSeen == true">{{conversation.content}}</span>
                                <span class="content-not-seen" *ngIf="conversation.wasSeen == false">{{conversation.content}}</span>
                                <span class="date">∙{{currentTimeDifferenceFormattedDate(conversation.timestamp.toString())}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="chat" *ngIf="friendCurrentConversation">
            <div class="char-wrapper">
                <div class="friend-header">
                    <div class="friend-header-details">
                        <div class="user-avatar">
                            <img src="{{friendCurrentConversation.profileImage}}" alt="User Avatar">
                        </div>
                        <div class="nickname">
                            <h4 style="color: white">{{friendCurrentConversation.userNickname}}</h4>
                        </div>
                        <div class="info-icon">
                            <i (click)="onOpenFriendProfile(friendCurrentConversation.userName)" class="material-icons">info</i>
                        </div>
                    </div>
                </div>

                <div #scrollContainer class="chat-messages-container">
                    <div class="messages" *ngIf="friendCurrentConversation">
                      <div *ngFor="let message of messagesFromFriend; let i = index">
                        <div *ngIf="shouldShowDate(message, i)" class="date">
                                <span>{{formattedDateDDMMYYYY(message.timestamp.toString())}}</span>
                            </div>
                            <div class="message-from-user" *ngIf="message.receiver.userId == user?.userId"  (mouseover)="showDateBubbles[i] = true" (mouseleave)="showDateBubbles[i] = false">
                                <p>{{message.content}}</p>
                                <div class="date-bubble" *ngIf="showDateBubbles[i]">
                                    <span>{{formattedDateHour(message.timestamp.toString())}}</span>
                                </div>
                            </div>
                            <div class="message-to-user" *ngIf="message.receiver.userId != user?.userId" (mouseover)="showDateBubbles[i] = true" (mouseleave)="showDateBubbles[i] = false">
                                <p>{{message.content}}</p>
                                <div class="date-bubble" *ngIf="showDateBubbles[i]">
                                    <span>{{formattedDateHour(message.timestamp.toString())}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="messages-input">
                    <div>
                        <textarea [(ngModel)]="messageToSend" (keypress)="auto_grow($event)" (keyup)="auto_grow($event)" id="chat-box" placeholder="Type your message..." maxlength="16383"></textarea>
                    </div>
                    <div (click)="sendMessage()" class="send-button">
                        <i class="material-icons send-icon">send</i>
                    </div>                     
                </div>

            </div>
            
        </div>
    </div>
    
</body>