body {
    height: 100vh;
    box-sizing: border-box;
}

.main-body {
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

/* START NAVBAR */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 5rem;
}

.navbar .nav-link {
    font-weight: 500;
}

.navbar button:hover {
    color: red;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.navbar {
    background-color: rgba(1, 4, 9, 255);
    padding-left: 5rem;
    border-bottom: 1px solid grey;
}

.navbar button:hover {
    color: red;
}

.navbar a:hover {
    color: red;
}

.navbar a {
    cursor: pointer;
}

/* START DROP DOWN */

.sub-menu-wrap{
    position: absolute;
    top: 85%;
    right: 0.5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    color: white;
    transition: max-height 0.5s;
    z-index: 1;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    color: white;
    background: rgba(1, 4, 9, 255);
    padding: 20px;
    margin: 10px;
    border: 0.75px solid grey;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 0.75px solid grey;
}

.user-info h6{
    margin-left: 0.5rem;
    font-weight: 500;
}

.user-info img{
    width: 50px;
    border-radius: 50%;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(107, 5, 5);
    margin: 15px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link .icon-type{
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 16px;
    font-weight: 500;
}

.sub-menu-link i{
    color: black;
    background-color: #e5e5e5;
    border-radius: 50%;
}

.sub-menu-link .arrow{
    margin-bottom: 0.5rem;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover .arrow{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}
  
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.icon-button {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}
  
.icon-button:hover {
    cursor: pointer;
}
  
.icon-button:active {
    background: #cccccc;
}
  
.icon-button__badge {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-button .notifications-number {
    font-weight: 500;
    font-size: 12px;
}   

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.lil-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid white;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
}

/* END DROP DOWN */

/* END NAVBAR */

.chat-interface {
    background: #191c22;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.chat-user-history {
    width: 30%;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
}

.chat-user-history .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13%;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid grey;
}

.chat-user-history .top h2 {
    font-size: 25px;
    font-weight: 700;
}

.chat-user-history .search {
    padding-bottom: 0.35rem;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 45%;
    width: 100%;
}

.chat-user-history #searchConversation {
    background: transparent;
    border-radius: 6px;
    border: 1px solid white;
    padding: 0.1rem 1rem;
    width: 90%;
    height: 100%;
    color: white;
    font-weight: 500;
}

.chat-user-history #searchConversation:focus {
    outline: none;
    border: 2px solid white;
} 

.chat-user-history .conversations {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.chat-user-history .conversations::-webkit-scrollbar {
    width: 12px; 
}

.chat-user-history .conversations::-webkit-scrollbar-thumb {
    background-color: white;
}

.chat-user-history .conversations::-webkit-scrollbar-track {
    background-color: transparent; 
}

.chat-user-history .conversations .conversation {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    padding-left: 0.5rem;
    border-bottom: 0.5px solid grey;
    width: 100%;
    max-width: 30vw;
    height: 12vh;
    max-height: 12vh;
}

.chat-user-history .conversations .conversation:hover {
    background-color: rgba(1, 4, 9, 255);
}

.chat-user-history .conversations .active-conversation {
    background-color: rgba(1, 4, 9, 255);
}

.chat-user-history .conversation .user-avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 0.5rem;
    border: 0.1rem solid white;
}

.chat-user-history .conversation .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-user-history .conversation .user-nickname {
    flex-grow: 1;
    width: 25vw;
    display: flex;
    flex-grow: 1; 
    align-items: center;
    padding: 0 1rem;
    min-width: 0;
    max-width: calc(100% - 6rem);
}

.chat-user-history .conversation span {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
}

.chat {
    width: 70%;
    height: 100%;
}

.char-wrapper {
    height: 100%;
    width: 100%;
}

.chat .friend-header {
    border-bottom: 1px solid grey;
    height: 13%;
    width: 100%;
}

.chat .friend-header-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chat .friend-header .user-avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1em;
}

.chat .friend-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat .friend-header-details .info-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: 1.8rem;
    color: white
}

.chat .chat-messages-container {
    width: 100%;
    height: 75%;
    padding: 1rem 0;
    border-bottom: 0.5px solid white;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
}

.chat .chat-messages-container::-webkit-scrollbar {
    width: 12px; 
}

.chat .chat-messages-container::-webkit-scrollbar-thumb {
    background-color: black;
}

.chat .chat-messages-container::-webkit-scrollbar-track {
    background-color: transparent; 
}


.chat .chat-messages-container .messages {
    display: flex;
    flex-direction: column;
}

.chat .chat-messages-container .message-to-user,
.chat .chat-messages-container .message-from-user {
    position: relative;
    color: white;
    font-size: 1.25em;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    padding: 0.5rem 0.75rem;
    margin: 0.1rem 2rem;
    width: fit-content;
    max-width: 35rem; /* Limiting the width of the message */
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Enable word wrapping for long messages */
}

.chat .chat-messages-container .date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.chat .chat-messages-container .message-from-user .date-bubble {
    position: absolute;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    z-index: 1;
    left: calc(100% - 2.25rem); 
    top: 50%; 
    transform: translateX(100%) translateY(-50%);
}

.chat .chat-messages-container .message-to-user .date-bubble {
    position: absolute;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    z-index: 1;
    right: calc(100% + 4.25rem); /* Position the bubble to the left of the message */
    top: 50%; 
    transform: translateX(100%) translateY(-50%);
}

.chat .chat-messages-container .date span {
    font-size: 12px;
}

.chat .chat-messages-container .message-to-user {
    background-color: #2a62d4;
    margin-left: auto; 
}

.chat .chat-messages-container .message-to-user p, .message-from-user p{
    font-size: 16px;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
}

.chat .chat-messages-container .message-to-user span, .message-from-user span {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
    font-size: 11px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
}

.chat .chat-messages-container .message-from-user {
    background-color: grey;
}

.messages-input {
    position: relative;
    width: 100%;
    height: 12%;
    max-height: 12%;
    margin-bottom: 10px;
}

.messages-input textarea {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #191c22;
    width: 85%; 
    height: 5.7vh;
    max-width: 90%; 
    border-radius: 8px;
    padding: 0.55rem 0.8rem;
    font-size: 16px;
    border: 2px solid white;
    margin-bottom: 1.2rem;
    margin-left: 3vw; 
    resize: vertical; 
    white-space: pre-wrap;
}

.messages-input textarea:focus {
    outline: none;
}

.chat .messages-input textarea::-webkit-scrollbar {
    width: 0px;
}

.chat .messages-input .send-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 0;
}

.chat .messages-input .send-button .send-icon {
    border-radius: 6px;
    padding: 0.5rem;
    background-color: #2a62d4;
    cursor: pointer;
    color: white;
    margin-right: 3vw;
    z-index: 1;
}
