<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<body>
    <div class="chat-interface">
        <div class="chat-user-history">
            <div class="top">
                <h2>Conversations</h2>
                <div class="search">
                    <input id="searchConversation" (ngModelChange)="searchConversation(key.value)" #key="ngModel" ngModel type="text" placeholder="Search for chat..." max="255">
                </div>
            </div>

            <div class="conversations">
                <div (click)="changeCurrentFriendConversation(conversation, i)" *ngFor="let conversation of conversations; let i = index"
                [class.active-conversation]="i === activeConversationIndex" class="conversation">
                    <div class="user-avatar">
                        <img *ngIf="conversation.lastMessage.sender.userId != user?.userId" src="{{conversation.lastMessage.sender.profileImage}}" alt="User Avatar">
                        <img *ngIf="conversation.lastMessage.sender.userId == user?.userId" src="{{conversation.lastMessage.receiver.profileImage}}" alt="User Avatar">
                    </div>

                    <div class="user-nickname-last-message-container">
                        <div class="user-nickname">
                            <span *ngIf="conversation.user1?.userId != user?.userId">{{conversation.user1.userNickname}}</span>
                            <span *ngIf="conversation.user1?.userId == user?.userId">{{conversation.user2.userNickname}}</span>
                        </div>
                        <div class="last-message">
                            <div class="sent-message" *ngIf="conversation.lastMessage.sender.userId == user?.userId">
                                <span class="content">You: {{conversation.lastMessage.content}}</span>
                                <span class="date">∙{{currentTimeDifferenceFormattedDate(conversation.lastMessage.timestamp.toString())}}</span>
                            </div>
                            <div class="received-message" *ngIf="conversation.lastMessage.receiver.userId == user?.userId">
                                <span class="content" *ngIf="conversation.lastMessage.wasSeen == true">{{conversation.lastMessage.content}}</span>
                                <span class="content-not-seen" *ngIf="conversation.lastMessage.wasSeen == false">{{conversation.lastMessage.content}}</span>
                                <span class="date">∙{{currentTimeDifferenceFormattedDate(conversation.lastMessage.timestamp.toString())}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="chat" *ngIf="friendCurrentConversation">
            <div class="char-wrapper">
                <div class="friend-header">
                    <div class="friend-header-details">
                        <div class="user-avatar">
                            <img src="{{friendCurrentConversation.profileImage}}" alt="User Avatar">
                        </div>
                        <div class="nickname">
                            <h4 style="color: white">{{friendCurrentConversation.userNickname}}</h4>
                        </div>
                        <div class="info-icon">
                            <i (click)="onOpenFriendProfile(friendCurrentConversation.userName)" class="material-icons">info</i>
                        </div>
                    </div>
                </div>

                <div #scrollContainer class="chat-messages-container">
                    <div class="messages" *ngIf="friendCurrentConversation">
                        <div *ngFor="let message of messagesFromFriend; let i = index">
                            <div class="date" *ngIf="shouldShowDate(message, i)">
                                <span>{{formattedDateDDMMYYYY(message.timestamp.toString())}}</span>
                            </div>
                            <div class="message-from-user" *ngIf="user?.userId == message.receiver.userId" (mouseover)="showDateBubbles[i] = true" (mouseleave)="showDateBubbles[i] = false">
                                <p class="content">{{message.content}}</p>
                                <div class="date-bubble" *ngIf="showDateBubbles[i]">
                                    <span>{{formattedDateHour(message.timestamp.toString())}}</span>
                                </div>
                            </div>
                            <div class="message-to-user" *ngIf="user?.userId == message.sender.userId" (mouseover)="showDateBubbles[i] = true" (mouseleave)="showDateBubbles[i] = false">
                                <p class="content">{{message.content}}</p>
                                <div class="date-bubble" *ngIf="showDateBubbles[i]">
                                    <span>{{formattedDateHour(message.timestamp.toString())}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="messages-input">
                    <div>
                        <textarea [(ngModel)]="messageToSend" (keyup.enter)="sendMessage()" (keypress)="auto_grow($event)" (keyup)="auto_grow($event)" id="chat-box" placeholder="Type your message..." maxlength="16383"></textarea>
                    </div>
                    <div (click)="sendMessage()" class="send-button">
                        <i class="material-icons send-icon">send</i>
                    </div>                     
                </div>

            </div>
            
        </div>
    </div>
    
</body>